body {
  margin: 0;
}



.example {
  h2 {
    margin: 10px 0;
  }
  mat-checkbox {
    margin: 0 10px;
  }
}

.example-layout-flex-rows {
  display: flex;
  flex-flow: row;
  height: 60px;
}

.example-layout-flex-cols {
  display: flex;
  flex-flow: column;
  height: auto;
}




.app-content {
  padding: 5px;
}

.app-content mat-card {
  margin: 5px;
}

.app-sidenav {
  min-width: 200px;
}


.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-fab {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
}

.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-input-icon {
  font-size: 16px;
  padding: 0 5px;
}

.app-menu-button {
  padding: 0;
  min-width: 50px;
}

.app-button {
  margin: 5px;
}

.app-list {
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.app-progress {
  margin: 5px;
}

.example-h2 {
  margin: 10px 0;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-layout-no-flex {
  height: 60px;

  mat-checkbox, mat-radio-button {
    margin: 0 10px;
  }
}

.example-margin {
  margin: 0 10px;
}

.mat-slider-horizontal {
  width: 300px;
}

.mat-slider-vertical {
  height: 300px;
}

mat-chip {
  max-width: 200px;
}

.app-sidebar-button {
  width: inherit;
}

.example-spacer {
  flex: 1 1 auto;
}

.demo-card-container {
  display: flex;
  flex-flow: column nowrap;

  .mat-card {
    margin: 0 16px 16px 0;
    width: 350px;
  }

  img {
    background-color: gray;
  }
}

.demo-card-blue {
  background-color: #b0becc;

  .mat-card-actions {
    display: flex;
    flex-direction: column;
  }
}

button[mat-fab] {
  a {
    text-decoration: none;
    color: white;
  }
}