@import '~@angular/material/theming';
@import "bsweb-pallettes";
@import "bsweb-typography";
@import "custom-material-theme";

@include mat-core($tconfig);

$primary: mat-palette($bsweb-colors-sky, 500, A200, A700);
$accent: mat-palette($bsweb-colors-wisteria, A400, A200, A700); //$base-palette, $default: 500, $lighter: 100, $darker: 700
$warn: mat-palette($bsweb-colors-pumkin, A400, A200, A700);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

$success: mat-palette($bsweb-colors-lemon, A400, A200, A700);
$info: mat-palette($bsweb-colors-aqua, A400, A200, A700); //$base-palette, $default: 500, $lighter: 100, $darker: 700
$danger: mat-palette($bsweb-colors-pomegranate, A400, A200, A700);

$custom-theme: mat-light-theme($success, $info, $danger);

@include custom-material-theme($custom-theme);








































//
//.m2app-dark {
//  $primary: mat-palette($mat-pink, 700, 500, 900);
//  $accent: mat-palette($mat-blue-grey, A200, A100, A400);
//  $warn: mat-palette($mat-red, A700);
//
//  $theme: mat-dark-theme($primary, $accent, $warn);
//
//  @include angular-material-theme($theme);
//}
