@import '~@angular/material/theming';
@import "bsweb-pallettes";
@import "bsweb-typography";
@import "bsweb-theming";

@include mat-core($tconfig);

$primary: mat-palette($bsweb-colors-sky, 500, A200, A700); //$base-palette, $default: 500, $lighter: 100, $darker: 700
$accent: mat-palette($bsweb-colors-sky, A700, A200, A900);
$warn: mat-palette($bsweb-colors-pumkin, A400, A200, A700);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

$success: mat-palette($bsweb-colors-lemon, A400, A200, A700);
$info: mat-palette($bsweb-colors-aqua, A400, A200, A700); //$base-palette, $default: 500, $lighter: 100, $darker: 700
$danger: mat-palette($bsweb-colors-pomegranate, A400, A200, A700);

$custom-theme: mat-light-theme($success, $info, $danger);

@include custom-material-theme($custom-theme);


$darktheme-bg: #D3D3D3;
$darktheme-brighter-bg: lighten($darktheme-bg,11.5%);
$darktheme-darker-bg: darken($darktheme-bg, 3%);

.contenttheme-dark {
  .mat-card {
    background-color: $darktheme-bg
  }
  //
  //$primary: mat-palette($bsweb-colors-sky, 500, A200, A700); //$base-palette, $default: 500, $lighter: 100, $darker: 700
  //$accent: mat-palette($bsweb-colors-sky, A700, A200, A900);
  //$warn: mat-palette($bsweb-colors-pumkin, A400, A200, A700);
  //
  //$theme: mat-dark-theme($primary, $accent, $warn);
  //
  //@include angular-material-theme($theme);
}

//
//
//mat-sidenav-container.contenttheme-dark {
//  background: $darktheme-bg;
//}
