/*!
 * @author RKlein
 */

@import '~@angular/material/theming';
// Include this empty mixin for consistency with the other components.

@mixin mat-custom-icon-theme($theme) {
  $success: map-get($theme, primary);
  $info: map-get($theme, accent);
  $danger: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mat-icon {
    &.mat-success {
      color: mat-color($success);
    }

    &.mat-info {
      color: mat-color($info);
    }

    &.mat-danger {
      color: mat-color($danger);
    }
  }
}

@mixin mat-custom-chips-theme($theme) {
  $is-dark-theme: map-get($theme, is-dark);
  $success: map-get($theme, primary);
  $info: map-get($theme, accent);
  $danger: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mat-chip.mat-chip-selected {

    &.mat-success {
      @include mat-chips-theme-color($success);
    }

    &.mat-info {
      @include mat-chips-theme-color($info);
    }

    &.mat-danger {
      @include mat-chips-theme-color($danger);
    }
  }
}

@mixin mat-custom-button-theme($theme) {
  $success: map-get($theme, primary);
  $info: map-get($theme, accent);
  $danger: map-get($theme, warn);
  .mat-debug {
    color: red;
  }
  .mat-button {
    &.mat-success {
      color: mat-color($success);
    }
  }

  .mat-button {
    &.mat-info {
      color: mat-color($info);
    }
  }

  .mat-button {
    &.mat-danger {
      color: mat-color($danger);
    }
  }

  .mat-raised-button {
    &.mat-success {
      color: mat-color($success, default-contrast);
      background: mat-color($success);
    }
  }

  .mat-raised-button {
    &.mat-info {
      color: mat-color($info, default-contrast);
      background: mat-color($info);
    }
  }

  .mat-raised-button {
    &.mat-danger {
      color: mat-color($danger, default-contrast);
      background: mat-color($danger);
    }
  }

}

@mixin custom-material-theme($theme) {
  @include mat-custom-icon-theme($theme);
  @include mat-custom-chips-theme($theme);
  @include mat-custom-button-theme($theme);
}
