/*!
 * @author RKlein
 */
@import '~@angular/material/theming';

// theming for extra colors success,info,attention (not included in orginial material css styles
// all themes here a bundled the bottom mixin called custom-material-theme
// it is called by generate-material-theme.css

@mixin mat-custom-icon-theme($theme) {
  $success: map-get($theme, primary);
  $info: map-get($theme, accent);
  $attention: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mat-icon {
    &.mat-success {
      color: mat-color($success);
    }

    &.mat-info {
      color: mat-color($info);
    }

    &.mat-attention {
      color: mat-color($attention);
    }
  }
}

@mixin mat-custom-chips-theme($theme) {
  $is-dark-theme: map-get($theme, is-dark);
  $success: map-get($theme, primary);
  $info: map-get($theme, accent);
  $attention: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mat-chip.mat-chip-selected {

    &.mat-success {
      @include mat-chips-theme-color($success);
    }

    &.mat-info {
      @include mat-chips-theme-color($info);
    }

    &.mat-attention {
      @include mat-chips-theme-color($attention);
    }
  }
}

@mixin mat-custom-button-theme($theme) {
  $success: map-get($theme, primary);
  $info: map-get($theme, accent);
  $attention: map-get($theme, warn);

  .mat-button {
    &.mat-success {
      color: mat-color($success);
    }
  }

  .mat-button {
    &.mat-info {
      color: mat-color($info);
    }
  }

  .mat-button {
    &.mat-attention {
      color: mat-color($attention);
    }
  }

  .mat-raised-button, .mat-flat-button {
    &.mat-success {
      color: mat-color($success, default-contrast);
      background: mat-color($success);
    }
  }

  .mat-raised-button, .mat-flat-button  {
    &.mat-info {
      color: mat-color($info, default-contrast);
      background: mat-color($info);
    }
  }

  .mat-raised-button, .mat-flat-button  {
    &.mat-attention {
      color: mat-color($attention, default-contrast);
      background: mat-color($attention);
    }
  }


}

@mixin mat-custom-radio-theme($theme) {
  $success: map-get($theme, primary);
  $info: map-get($theme, accent);
  $attention: map-get($theme, warn);

  .mat-radio-button {
    &.mat-success {
      @include mat-radio-color($success);
    }

    &.mat-info {
      @include mat-radio-color($info);
    }

    &.mat-attention {
      @include mat-radio-color($attention);
    }
  }
}

@mixin mat-custom-checkbox-theme($theme) {
  $success: map-get($theme, primary);
  $info: map-get($theme, accent);
  $attention: map-get($theme, warn);

  .mat-checkbox-indeterminate, .mat-checkbox-checked {
    &.mat-success .mat-checkbox-background {
      background-color: mat-color($success);
    }

    &.mat-info .mat-checkbox-background {
      background-color: mat-color($info);
    }

    &.mat-attention .mat-checkbox-background {
      background-color: mat-color($attention);
    }
  }
}

@mixin mat-custom-slider-theme($theme) {
  $success: map-get($theme, primary);
  $info: map-get($theme, accent);
  $attention: map-get($theme, warn);

  .mat-success {
    @include _mat-slider-inner-content-theme($success);
  }

  .mat-info {
    @include _mat-slider-inner-content-theme($info);
  }

  .mat-attention {
    @include _mat-slider-inner-content-theme($attention);
  }

}

@mixin mat-custom-slide-toggle-theme($theme) {
  $is-dark: map_get($theme, is-dark);
  $success: map-get($theme, primary);
  $info: map-get($theme, accent);
  $attention: map-get($theme, warn);

  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  // Color hues based on the specs, which prescribe different hues for dark and light themes
  // https://material.google.com/components/selection-controls.html#selection-controls-switch
  $thumb-normal-hue: if($is-dark, 400, 50);
  $thumb-checked-hue: if($is-dark, 200, 500);
  $thumb-disabled-hue: if($is-dark, 800, 400);

  $bar-normal-color: mat-color($foreground, disabled);
  $bar-disabled-color: if($is-dark, rgba(white, 0.12), rgba(black, 0.1));

  // Ripple colors are based on the current palette and the state of the slide-toggle.
  // See https://material.google.com/components/selection-controls.html#selection-controls-switch
  $ripple-checked-opacity: 0.12;
  $ripple-unchecked-color: mat-color($foreground, base, if($is-dark, 0.12, 0.06));
  $ripple-success-color: mat-color($success, $thumb-checked-hue, $ripple-checked-opacity);
  $ripple-info-color: mat-color($info, $thumb-checked-hue, $ripple-checked-opacity);
  $ripple-attention-color: mat-color($attention, $thumb-checked-hue, $ripple-checked-opacity);

  .mat-slide-toggle {
    &.mat-success {
      @include _mat-slide-toggle-checked($success, $thumb-checked-hue);
      @include _mat-slide-toggle-ripple($success, $ripple-unchecked-color, $ripple-success-color);
    }

    &.mat-info {
      @include _mat-slide-toggle-checked($info, $thumb-checked-hue);
      @include _mat-slide-toggle-ripple($info, $ripple-unchecked-color, $ripple-info-color);
    }

    &.mat-attention {
      @include _mat-slide-toggle-checked($attention, $thumb-checked-hue);
      @include _mat-slide-toggle-ripple($attention, $ripple-unchecked-color, $ripple-attention-color);
    }

  }
}

// variation of the original material-accordion style which influences the included expanions panels
// overiddes some styles from the material expansion-panel.scss
@mixin mat-action-accordion() {
  .bsweb-mat-action-accordion {
    //.mat-expansion-panel-header {
    //  padding: 0 24px;
    //}
    .mat-expansion-panel-body {
      padding: 4px 24px 4px;
      border: 1px solid red !important;
    }
  }
}

/* in contrast to all the other additions this an addtional color variant like "succes" but a custom variation */
@mixin mat-action-accordion-expansion-panel-theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  $hoverbg: mat-color($primary, 0.04);
  $selectedbg: mat-color($primary, 0.1);
  .bsweb-mat-action-accordion {

    //.mat-expansion-panel {
    //  background: mat-color($background, card);
    //  color: mat-color($foreground, text);
    //}
    //
    //.mat-action-row {
    //  border-top-color: mat-color($foreground, divider);
    //}

    .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header {
      &:not([aria-disabled='true']) {
        &.cdk-keyboard-focused,
        &.cdk-program-focused,
        &:hover {
          background: $hoverbg;
        }
      }
    }

    .mat-expansion-panel.mat-expanded .mat-expansion-panel-header {
      &:not([aria-disabled='true']) {
        background: $selectedbg;
      }
    }

    //
    //.mat-expansion-panel-header-title {
    //  color: mat-color($foreground, text);
    //}
    //
    //.mat-expansion-panel-header-description,
    //.mat-expansion-indicator::after {
    //  color: mat-color($foreground, secondary-text);
    //}
    //
    //.mat-expansion-panel-header[aria-disabled='true'] {
    //  color: mat-color($foreground, disabled-button);
    //
    //  .mat-expansion-panel-header-title,
    //  .mat-expansion-panel-header-description {
    //    color: inherit;
    //  }
    //}
  }
}

@mixin mat-modify-option-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  .mat-option {
    &:hover:not(.mat-option-disabled),
    &:focus:not(.mat-option-disabled) {
      background: mat-color($primary, A400);
    }
  }
}

@mixin modify-material-theme($theme) {
  @include mat-modify-option-theme($theme);
}

@mixin additional-material-theme($theme) { /*additional theming with standard material colors*/
  @include mat-action-accordion(); /* this is actually not a theme but additional styling (without colors)*/
  @include mat-action-accordion-expansion-panel-theme($theme);
}

@mixin custom-material-theme($theme) {
  @include mat-custom-icon-theme($theme);
  @include mat-custom-chips-theme($theme);
  @include mat-custom-button-theme($theme);
  @include mat-custom-radio-theme($theme);
  @include mat-custom-checkbox-theme($theme);
  @include mat-custom-slider-theme($theme);
  @include mat-custom-slide-toggle-theme($theme);
}
