/* dont include this directly but use bsweb-variables.less */
$colorname-sky-shadow: #1F71C2;
$colorname-sky-regular: #2485E4;
$colorname-sky-light: #7CB6EF;
$colorname-sky-extralight: #CBE2F9;
$colorname-sky-ultralight: #E0EEFB;

$colorname-wisteria-shadow: #6E3380;
$colorname-wisteria-regular: #813C97;
$colorname-wisteria-light: #B38AC1;
$colorname-wisteria-extralight: #E1D0E6;

$colorname-pomegranate-shadow: #C5212C;
$colorname-pomegranate-regular: #E82734;
$colorname-pomegranate-light: #F17D85;
$colorname-pomegranate-extralight: #F9CBCE;

$colorname-pumkin-shadow: #D3711C;
$colorname-pumkin-regular: #F88521;
$colorname-pumkin-light: #FBB67A;
$colorname-pumkin-extralight: #FDE2CA;

$colorname-sunflower-shadow: #D3AE0E;
$colorname-sunflower-regular: #F8CD11;
$colorname-sunflower-light: #FBE170;
$colorname-sunflower-extralight: #FDF3C6;

$colorname-lemon-shadow: #6EA420;
$colorname-lemon-regular: #81C126;
$colorname-lemon-light: #B3DA7D;
$colorname-lemon-extralight: #E1F0CB;

$colorname-emerald-shadow: #3C9B57;
$colorname-emerald-regular: #46B666;
$colorname-emerald-light: #90D3A3;
$colorname-emerald-extralight: #D3EDDA;

$colorname-aqua-shadow: #2595B7;
$colorname-aqua-regular: #2BAFD7;
$colorname-aqua-light: #80CFE7;
$colorname-aqua-extralight: #CCECF5;

$colorname-asphalt-shadow: #2C3E50;
$colorname-asphalt-regular: #34495E;
$colorname-asphalt-light: #85929E;

$colorname-slate-shadow: #677376;
$colorname-slate-regular: #79878B;
$colorname-slate-light: #AFB7B9;

$colorname-silver-shadow: #A5A7A8;
$colorname-silver-regular: #C2C4C6;
$colorname-silver-light: #DADCDD;

$colorname-clouds-shadow: #CBCDCD;
$colorname-clouds-regular: #EEF1F1;
$colorname-clouds-light: #F5F7F7;

$colorname-text-shadow: #000000;
$colorname-text-regular: #444444;
$colorname-text-light: #999999;
$colorname-text-extralight: #FFFFFF;